<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Eclipse-ECF" sequenceNumber="10">
<locations>
	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/rt/ecf/3.14.26/site.p2"/>
		<unit id="org.eclipse.ecf.console.feature.feature.group" version="1.3.0.v20210926-1725"/>
		<unit id="org.eclipse.ecf.console.feature.source.feature.group" version="1.3.0.v20210926-1725"/>
		<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.6.1.v20211005-1944"/>
		<unit id="org.eclipse.ecf.core.feature.group" version="3.14.26.v20211008-2245"/>
		<unit id="org.eclipse.ecf.core.feature.source.feature.group" version="1.6.1.v20211005-1944"/>
		<unit id="org.eclipse.ecf.core.source.feature.group" version="3.14.26.v20211008-2245"/>
		<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.501.v20210409-2301"/>
		<unit id="org.eclipse.ecf.core.ssl.feature.source.feature.group" version="1.1.501.v20210409-2301"/>
		<unit id="org.eclipse.ecf.datashare.feature.feature.group" version="1.0.200.v20210326-0343"/>
		<unit id="org.eclipse.ecf.datashare.feature.source.feature.group" version="1.0.200.v20210326-0343"/>
		<unit id="org.eclipse.ecf.discovery.dnssd.feature.feature.group" version="1.0.101.v20201024-0045"/>
		<unit id="org.eclipse.ecf.discovery.dnssd.feature.source.feature.group" version="1.0.101.v20201024-0045"/>
		<unit id="org.eclipse.ecf.discovery.feature.feature.group" version="1.0.200.v20210326-0550"/>
		<unit id="org.eclipse.ecf.discovery.feature.source.feature.group" version="1.0.200.v20210326-0550"/>
		<unit id="org.eclipse.ecf.discovery.jmdns.feature.feature.group" version="1.0.101.v20201024-0045"/>
		<unit id="org.eclipse.ecf.discovery.jmdns.feature.source.feature.group" version="1.0.101.v20201024-0045"/>
		<unit id="org.eclipse.ecf.discovery.slp.feature.feature.group" version="1.0.101.v20210320-0251"/>
		<unit id="org.eclipse.ecf.discovery.slp.feature.source.feature.group" version="1.0.101.v20210320-0251"/>
		<unit id="org.eclipse.ecf.discovery.zookeeper.feature.feature.group" version="1.0.200.v20210326-0550"/>
		<unit id="org.eclipse.ecf.discovery.zookeeper.feature.source.feature.group" version="1.0.200.v20210326-0550"/>
		<unit id="org.eclipse.ecf.docshare.feature.feature.group" version="1.0.200.v20210320-0209"/>
		<unit id="org.eclipse.ecf.docshare.feature.source.feature.group" version="1.0.200.v20210320-0209"/>
		<unit id="org.eclipse.ecf.eventadmin.examples.feature.feature.group" version="1.0.200.v20200611-1508"/>
		<unit id="org.eclipse.ecf.eventadmin.examples.feature.source.feature.group" version="1.0.200.v20200611-1508"/>
		<unit id="org.eclipse.ecf.eventadmin.feature.feature.group" version="2.0.200.v20210326-0550"/>
		<unit id="org.eclipse.ecf.eventadmin.feature.source.feature.group" version="2.0.200.v20210326-0550"/>
		<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.14.1800.v20210618-0642"/>
		<unit id="org.eclipse.ecf.filetransfer.feature.source.feature.group" version="3.14.1800.v20210618-0642"/>
		<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="3.14.26.v20211008-2034"/>
		<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.source.feature.group" version="3.14.26.v20211008-2034"/>
		<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="1.1.301.v20210410-0001"/>
		<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.source.feature.group" version="1.1.301.v20210410-0001"/>
		<unit id="org.eclipse.ecf.filetransfer.httpclient45.feature.feature.group" version="1.1.0.v20211008-2034"/>
		<unit id="org.eclipse.ecf.filetransfer.httpclient45.feature.source.feature.group" version="1.1.0.v20211008-2034"/>
		<unit id="org.eclipse.ecf.filetransfer.httpclient5.feature.feature.group" version="1.0.0.v20210512-0614"/>
		<unit id="org.eclipse.ecf.filetransfer.httpclient5.feature.source.feature.group" version="1.0.0.v20210512-0614"/>
		<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.401.v20210409-2301"/>
		<unit id="org.eclipse.ecf.filetransfer.ssl.feature.source.feature.group" version="1.1.401.v20210409-2301"/>
		<unit id="org.eclipse.ecf.osgi.services.feature.feature.group" version="2.6.1.v20211005-1944"/>
		<unit id="org.eclipse.ecf.osgi.services.feature.source.feature.group" version="2.6.1.v20211005-1944"/>
		<unit id="org.eclipse.ecf.presence.feature.feature.group" version="1.0.200.v20210320-0209"/>
		<unit id="org.eclipse.ecf.presence.feature.source.feature.group" version="1.0.200.v20210320-0209"/>
		<unit id="org.eclipse.ecf.provider.generic.datashare.feature.feature.group" version="1.0.200.v20210326-0351"/>
		<unit id="org.eclipse.ecf.provider.generic.datashare.feature.source.feature.group" version="1.0.200.v20210326-0351"/>
		<unit id="org.eclipse.ecf.provider.generic.feature.feature.group" version="1.1.1.v20210926-1725"/>
		<unit id="org.eclipse.ecf.provider.generic.feature.source.feature.group" version="1.1.1.v20210926-1725"/>
		<unit id="org.eclipse.ecf.provider.generic.remoteservice.feature.feature.group" version="1.2.0.v20210926-0332"/>
		<unit id="org.eclipse.ecf.provider.generic.remoteservice.feature.source.feature.group" version="1.2.0.v20210926-0332"/>
		<unit id="org.eclipse.ecf.remoteservice.examples.feature.feature.group" version="1.5.400.v20211008-2151"/>
		<unit id="org.eclipse.ecf.remoteservice.examples.feature.source.feature.group" version="1.5.400.v20211008-2151"/>
		<unit id="org.eclipse.ecf.remoteservice.feature.feature.group" version="2.6.0.v20210926-1725"/>
		<unit id="org.eclipse.ecf.remoteservice.feature.source.feature.group" version="2.6.0.v20210926-1725"/>
		<unit id="org.eclipse.ecf.remoteservice.rest.feature.feature.group" version="1.0.301.v20210320-0209"/>
		<unit id="org.eclipse.ecf.remoteservice.rest.feature.source.feature.group" version="1.0.301.v20210320-0209"/>
		<unit id="org.eclipse.ecf.remoteservice.rest.synd.feature.feature.group" version="1.0.200.v20200611-2220"/>
		<unit id="org.eclipse.ecf.remoteservice.rest.synd.feature.source.feature.group" version="1.0.200.v20200611-2220"/>
		<unit id="org.eclipse.ecf.remoteservice.rosgi.feature.feature.group" version="1.2.1.v20211008-2151"/>
		<unit id="org.eclipse.ecf.remoteservice.rosgi.feature.source.feature.group" version="1.2.1.v20211008-2151"/>
		<unit id="org.eclipse.ecf.remoteservice.sdk.examples.feature.feature.group" version="1.0.200.v20211008-2151"/>
		<unit id="org.eclipse.ecf.remoteservice.sdk.examples.feature.source.feature.group" version="1.0.200.v20211008-2151"/>
		<unit id="org.eclipse.ecf.remoteservice.sdk.feature.feature.group" version="3.14.26.v20211008-2151"/>
		<unit id="org.eclipse.ecf.remoteservice.sdk.feature.source.feature.group" version="3.14.26.v20211008-2151"/>
		<unit id="org.eclipse.ecf.remoteservice.servlet.feature.feature.group" version="1.0.300.v20211008-2151"/>
		<unit id="org.eclipse.ecf.remoteservice.servlet.feature.source.feature.group" version="1.0.300.v20211008-2151"/>
		<unit id="org.eclipse.ecf.server.generic.feature.feature.group" version="1.2.101.v20210320-0209"/>
		<unit id="org.eclipse.ecf.server.generic.feature.source.feature.group" version="1.2.101.v20210320-0209"/>
		<unit id="org.eclipse.ecf.sharedobject.feature.feature.group" version="1.1.0.v20210925-0010"/>
		<unit id="org.eclipse.ecf.sharedobject.feature.source.feature.group" version="1.1.0.v20210925-0010"/>
		<unit id="org.eclipse.ecf.xmpp.feature.feature.group" version="1.0.201.v20210326-0550"/>
		<unit id="org.eclipse.ecf.xmpp.feature.source.feature.group" version="1.0.201.v20210326-0550"/>
	</location>
</locations>
</target>