<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="Eclipse-Spy" sequenceNumber="5">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.e4.tools.spies.feature.feature.group" version="0.18.0.v20181023-1826"/>
<repository location="http://download.eclipse.org/e4/snapshots/org.eclipse.e4.tools/latest/"/>
</location>
	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.e4.core.tools.feature.source.feature.group" version="4.10.0.v20181116-0958"/>
		<unit id="org.eclipse.swt.tools.feature.feature.group" version="3.107.200.v20181122-0742"/>
		<repository location="http://download.eclipse.org/eclipse/updates/4.10"/>
	</location>
</locations>
</target>