<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Eclipse-EMF" sequenceNumber="9">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.14.0.v20180529-1157"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.12.0.201805140824"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.12.0.201805030717"/>
<unit id="org.eclipse.xsd.sdk.feature.group" version="2.14.0.v20180131-0817"/>
<repository location="http://download.eclipse.org/releases/photon"/>
</location>
</locations>
</target>
