<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Eclipse-Nebula" sequenceNumber="8">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.feature.feature.group" version="1.4.0.201804281520"/>
<repository location="http://download.eclipse.org/nebula/releases/latest"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.formattedtext.feature.feature.group" version="1.0.0.201806070735"/>
<unit id="org.eclipse.nebula.widgets.radiogroup.feature.feature.group" version="0.1.0.201806070735"/>
<repository location="http://download.eclipse.org/nebula/incubation/snapshot"/>
</location>
</locations>
</target>
