<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Eclipse-Equinox" sequenceNumber="25">
<locations>
	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/tools/ajdt/410/dev/update"/>
		<unit id="org.eclipse.contribution.weaving.feature.group" version="2.2.4.202103162301"/>
	</location>
	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/eclipse/updates/4.20"/>
		<unit id="org.eclipse.equinox.sdk.feature.group" version="3.23.0.v20210611-1654"/>
	</location>
</locations>
</target>