<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Eclipse-RCP" sequenceNumber="37">
<locations>
	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/eclipse/updates/4.24"/>
		<unit id="org.eclipse.e4.core.tools.feature.source.feature.group" version="4.24.0.v20220420-0901"/>
		<unit id="org.eclipse.rcp.feature.group" version="4.24.0.v20220607-0700"/>
		<unit id="org.eclipse.rcp.source.feature.group" version="4.24.0.v20220607-0700"/>
		<unit id="org.eclipse.swt.tools.feature.feature.group" version="3.108.500.v20220423-0849"/>
	</location>
	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/releases/2022-06"/>
		<unit id="org.eclipse.draw2d.sdk.feature.group" version="3.10.100.201606061308"/>
	</location>
</locations>
<environment>
<os>solaris</os>
<ws>gtk</ws>
<arch>sparc</arch>
</environment>
</target>