<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Eclipse-EMF" sequenceNumber="6">
<locations>
	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/releases/2022-12"/>
		<unit id="org.eclipse.emf.sdk.feature.group" version="2.32.0.v20221121-1400"/>
		<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.13.0.202208110935"/>
		<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.13.2.202208271102"/>
		<unit id="org.eclipse.xsd.sdk.feature.group" version="2.32.0.v20220925-0948"/>
	</location>
</locations>
</target>