<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Eclipse-WST" sequenceNumber="12">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jst.enterprise_ui.feature.feature.group" version="3.9.100.v201804120404"/>
<unit id="org.eclipse.jst.server_adapters.ext.feature.feature.group" version="3.3.602.v201805281856"/>
<unit id="org.eclipse.jst.server_adapters.feature.feature.group" version="3.2.500.v201806111634"/>
<unit id="org.eclipse.jst.server_ui.feature.feature.group" version="3.4.300.v201802152148"/>
<unit id="org.eclipse.jst.web_ui.feature.feature.group" version="3.9.0.v201802222200"/>
<unit id="org.eclipse.wst.server_adapters.feature.feature.group" version="3.2.700.v201805181538"/>
<repository location="http://download.eclipse.org/releases/photon"/>
</location>
</locations>
</target>
