<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="Eclipse-PDE" sequenceNumber="23">
<locations>
	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.pde.feature.group" version="3.13.200.v20180906-0745"/>
		<unit id="org.eclipse.pde.source.feature.group" version="3.13.200.v20180906-0745"/>
		<repository location="http://download.eclipse.org/eclipse/updates/4.9"/>
	</location>
</locations>
<environment>
<os>solaris</os>
<ws>gtk</ws>
<arch>sparc</arch>
</environment>
</target>