<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="Eclipse-WST" sequenceNumber="8">
<locations>
	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.11.0.v201808220605"/>
		<repository location="http://download.eclipse.org/releases/2018-09"/>
	</location>
</locations>
</target>