<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Eclipse-Graphiti" sequenceNumber="7">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/releases/2020-12"/>
		<unit id="org.eclipse.graphiti.export.feature.feature.group" version="0.17.0.202005151449"/>
		<unit id="org.eclipse.graphiti.sdk.feature.feature.group" version="0.17.0.202005151449"/>
	</location>
</locations>
</target>