<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="Eclipse-ECF" sequenceNumber="10">
<locations>
	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.ecf.console.feature.feature.group" version="1.2.0.v20180713-1810"/>
		<unit id="org.eclipse.ecf.console.feature.source.feature.group" version="1.2.0.v20180713-1810"/>
		<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.5.3.v20181012-2020"/>
		<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.100.v20180301-0201"/>
		<unit id="org.eclipse.ecf.datashare.feature.feature.group" version="1.0.100.v20180302-0300"/>
		<unit id="org.eclipse.ecf.datashare.feature.source.feature.group" version="1.0.100.v20180302-0300"/>
		<repository location="http://download.eclipse.org/rt/ecf/3.14.4/site.p2"/>
		<unit id="org.eclipse.ecf.core.feature.source.feature.group" version="1.5.3.v20181012-2020"/>
		<unit id="org.eclipse.ecf.core.ssl.feature.source.feature.group" version="1.1.100.v20180301-0201"/>
		<unit id="org.eclipse.ecf.discovery.dnssd.feature.feature.group" version="1.0.0.v20180302-2006"/>
		<unit id="org.eclipse.ecf.discovery.dnssd.feature.source.feature.group" version="1.0.0.v20180302-2006"/>
		<unit id="org.eclipse.ecf.discovery.feature.feature.group" version="1.0.100.v20180306-0211"/>
		<unit id="org.eclipse.ecf.discovery.feature.source.feature.group" version="1.0.100.v20180306-0211"/>
		<unit id="org.eclipse.ecf.discovery.jmdns.feature.feature.group" version="1.0.0.v20180306-0429"/>
		<unit id="org.eclipse.ecf.discovery.jmdns.feature.source.feature.group" version="1.0.0.v20180306-0429"/>
		<unit id="org.eclipse.ecf.discovery.slp.feature.feature.group" version="1.0.0.v20180712-1605"/>
		<unit id="org.eclipse.ecf.discovery.slp.feature.source.feature.group" version="1.0.0.v20180712-1605"/>
		<unit id="org.eclipse.ecf.discovery.zookeeper.feature.feature.group" version="1.0.0.v20180302-2006"/>
		<unit id="org.eclipse.ecf.discovery.zookeeper.feature.source.feature.group" version="1.0.0.v20180302-2006"/>
		<unit id="org.eclipse.ecf.docshare.feature.feature.group" version="1.0.100.v20180302-2006"/>
		<unit id="org.eclipse.ecf.docshare.feature.source.feature.group" version="1.0.100.v20180302-2006"/>
		<unit id="org.eclipse.ecf.eventadmin.feature.feature.group" version="2.0.100.v20180712-1605"/>
		<unit id="org.eclipse.ecf.eventadmin.feature.source.feature.group" version="2.0.100.v20180712-1605"/>
		<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.14.4.v20181013-2146"/>
		<unit id="org.eclipse.ecf.filetransfer.feature.source.feature.group" version="3.14.4.v20181013-2146"/>
		<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.100.v20180301-0132"/>
		<unit id="org.eclipse.ecf.filetransfer.ssl.feature.source.feature.group" version="1.1.100.v20180301-0132"/>
		<unit id="org.eclipse.ecf.provider.generic.feature.feature.group" version="1.0.100.v20180402-2103"/>
		<unit id="org.eclipse.ecf.provider.generic.feature.source.feature.group" version="1.0.100.v20180402-2103"/>
		<unit id="org.eclipse.ecf.provider.generic.remoteservice.feature.feature.group" version="1.1.100.v20180516-2213"/>
		<unit id="org.eclipse.ecf.provider.generic.remoteservice.feature.source.feature.group" version="1.1.100.v20180516-2213"/>
		<unit id="org.eclipse.ecf.server.generic.feature.feature.group" version="1.1.100.v20180302-2006"/>
		<unit id="org.eclipse.ecf.server.generic.feature.source.feature.group" version="1.1.100.v20180302-2006"/>
		<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="3.14.4.v20181013-2146"/>
		<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.source.feature.group" version="3.14.4.v20181013-2146"/>
		<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="1.1.100.v20180301-0132"/>
		<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.source.feature.group" version="1.1.100.v20180301-0132"/>
		<unit id="org.eclipse.ecf.osgi.services.feature.feature.group" version="2.4.1.v20180920-1935"/>
		<unit id="org.eclipse.ecf.osgi.services.feature.source.feature.group" version="2.4.1.v20180920-1935"/>
		<unit id="org.eclipse.ecf.remoteservice.feature.feature.group" version="2.5.100.v20180926-1748"/>
		<unit id="org.eclipse.ecf.remoteservice.feature.source.feature.group" version="2.5.100.v20180926-1748"/>
		<unit id="org.eclipse.ecf.remoteservice.rest.feature.feature.group" version="1.0.100.v20180302-2006"/>
		<unit id="org.eclipse.ecf.remoteservice.rest.feature.source.feature.group" version="1.0.100.v20180302-2006"/>
		<unit id="org.eclipse.ecf.remoteservice.rest.synd.feature.feature.group" version="1.0.100.v20180302-2006"/>
		<unit id="org.eclipse.ecf.remoteservice.rest.synd.feature.source.feature.group" version="1.0.100.v20180302-2006"/>
		<unit id="org.eclipse.ecf.remoteservice.rosgi.feature.feature.group" version="1.1.0.v20180516-2213"/>
		<unit id="org.eclipse.ecf.remoteservice.rosgi.feature.source.feature.group" version="1.1.0.v20180516-2213"/>
		<unit id="org.eclipse.ecf.remoteservice.sdk.feature.feature.group" version="3.14.4.v20181013-2143"/>
		<unit id="org.eclipse.ecf.remoteservice.sdk.feature.source.feature.group" version="3.14.4.v20181013-2143"/>
		<unit id="org.eclipse.ecf.core.feature.group" version="3.14.4.v20181013-2146"/>
		<unit id="org.eclipse.ecf.core.source.feature.group" version="3.14.4.v20181013-2146"/>
		<unit id="org.eclipse.ecf.remoteservice.servlet.feature.feature.group" version="1.0.100.v20180302-2006"/>
		<unit id="org.eclipse.ecf.remoteservice.servlet.feature.source.feature.group" version="1.0.100.v20180302-2006"/>
		<unit id="org.eclipse.ecf.sharedobject.feature.feature.group" version="1.0.100.v20180404-2345"/>
		<unit id="org.eclipse.ecf.sharedobject.feature.source.feature.group" version="1.0.100.v20180404-2345"/>
		<unit id="org.eclipse.ecf.xmpp.feature.feature.group" version="1.0.100.v20180303-0057"/>
		<unit id="org.eclipse.ecf.xmpp.feature.source.feature.group" version="1.0.100.v20180303-0057"/>
	</location>
</locations>
</target>