<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Eclipse-Platform" sequenceNumber="36">
<locations>
	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.platform.sdk" version="4.14.0.I20191210-0610"/>
		<repository location="http://download.eclipse.org/eclipse/updates/4.14"/>
	</location>
</locations>
<environment>
<os>solaris</os>
<ws>gtk</ws>
<arch>sparc</arch>
</environment>
</target>