<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="Eclipse-WST" sequenceNumber="8">
<locations>
	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.jpt.dbws.eclipselink.feature.feature.group" version="1.2.201.v201807122215"/>
		<unit id="org.eclipse.jpt.jaxb.eclipselink.feature.feature.group" version="1.4.201.v201807122215"/>
		<unit id="org.eclipse.jpt.jaxb.feature.feature.group" version="1.5.100.v201807122215"/>
		<unit id="org.eclipse.jpt.jpa.eclipselink.feature.feature.group" version="3.4.101.v201807122215"/>
		<unit id="org.eclipse.jpt.jpa.feature.feature.group" version="3.5.101.v201807122215"/>
		<unit id="org.eclipse.jpt.jpadiagrameditor.feature.feature.group" version="1.2.300.v201807122215"/>
		<unit id="org.eclipse.jsf.feature.feature.group" version="3.10.0.v201808012022"/>
		<unit id="org.eclipse.jst.common.fproj.enablement.jdt.feature.group" version="3.11.0.v201808161734"/>
		<unit id="org.eclipse.jst.enterprise_ui.feature.feature.group" version="3.9.200.v201808172107"/>
		<unit id="org.eclipse.jst.jsf.apache.trinidad.tagsupport.feature.feature.group" version="2.6.1.v201802231403"/>
		<unit id="org.eclipse.jst.server_adapters.ext.feature.feature.group" version="3.3.602.v201808021625"/>
		<unit id="org.eclipse.jst.server_adapters.feature.feature.group" version="3.2.500.v201806111634"/>
		<unit id="org.eclipse.jst.server_ui.feature.feature.group" version="3.4.300.v201802152148"/>
		<unit id="org.eclipse.jst.web_ui.feature.feature.group" version="3.11.0.v201808212348"/>
		<unit id="org.eclipse.jst.webpageeditor.feature.feature.group" version="2.9.0.v201803271721"/>
		<unit id="org.eclipse.jst.ws.axis2tools.feature.feature.group" version="1.1.301.v201802222200"/>
		<unit id="org.eclipse.jst.ws.cxf.feature.feature.group" version="1.1.301.v201802222200"/>
		<unit id="org.eclipse.jst.ws.jaxws.dom.feature.feature.group" version="1.0.302.v201802222200"/>
		<unit id="org.eclipse.jst.ws.jaxws.feature.feature.group" version="1.2.400.v201806042237"/>
		<unit id="org.eclipse.m2e.wtp.feature.feature.group" version="1.4.0.20180606-2005"/>
		<unit id="org.eclipse.m2e.wtp.jaxrs.feature.feature.group" version="1.4.0.20180606-2005"/>
		<unit id="org.eclipse.m2e.wtp.jpa.feature.feature.group" version="1.4.0.20180606-2005"/>
		<unit id="org.eclipse.m2e.wtp.jsf.feature.feature.group" version="1.4.0.20180606-2005"/>
		<unit id="org.eclipse.php.composer.feature.group" version="6.1.0.201808281524"/>
		<unit id="org.eclipse.php.feature.group" version="6.1.0.201808281524"/>
		<unit id="org.eclipse.rap.tools.feature.feature.group" version="3.6.0.20180912-0855"/>
		<unit id="org.eclipse.wst.common.fproj.feature.group" version="3.7.2.v201808020026"/>
		<unit id="org.eclipse.wst.jsdt.chromium.debug.feature.feature.group" version="0.6.0.v201705091354"/>
		<unit id="org.eclipse.wst.jsdt.feature.feature.group" version="2.1.1.v201804042202"/>
		<unit id="org.eclipse.wst.server_adapters.feature.feature.group" version="3.2.700.v201805181538"/>
		<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.11.0.v201808220605"/>
		<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.11.0.v201807252207"/>
		<unit id="org.eclipse.wst.xsl.feature.feature.group" version="1.3.500.v201805022145"/>
		<unit id="org.sonatype.m2e.mavenarchiver.feature.feature.group" version="0.17.2.201606141937-signed-20160830073346"/>
		<repository location="http://download.eclipse.org/releases/2018-09"/>
	</location>
</locations>
</target>