<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Eclipse-Equinox" sequenceNumber="25">
<locations>
	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.equinox.weaving.sdk.feature.group" version="1.2.0.201908131520"/>
		<repository location="http://download.eclipse.org/tools/ajdt/48/dev/update"/>
	</location>
	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.equinox.sdk.feature.group" version="3.20.0.v20191122-2104"/>
		<repository location="http://download.eclipse.org/eclipse/updates/4.14"/>
		<unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.19.100.v20191120-0247"/>
		<unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="3.20.0.v20191107-1453"/>
		<unit id="org.eclipse.equinox.core.feature.feature.group" version="1.11.0.v20191114-1701"/>
		<unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="1.6.400.v20191120-0247"/>
		<unit id="org.eclipse.equinox.p2.core.feature.source.feature.group" version="1.6.400.v20191120-0247"/>
		<unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="1.2.400.v20191014-1907"/>
		<unit id="org.eclipse.equinox.p2.extras.feature.feature.group" version="1.4.600.v20191120-0247"/>
		<unit id="org.eclipse.equinox.p2.extras.feature.source.feature.group" version="1.4.600.v20191120-0247"/>
		<unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="1.4.600.v20191120-0247"/>
		<unit id="org.eclipse.equinox.p2.rcp.feature.source.feature.group" version="1.4.600.v20191120-0247"/>
		<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.11.600.v20191120-0247"/>
		<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="2.4.600.v20191120-0247"/>
		<unit id="org.eclipse.equinox.serverside.sdk.feature.group" version="3.19.100.v20191122-2104"/>
	</location>
	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/eclipse/updates/4.13"/>
		<unit id="org.eclipse.equinox.sdk.feature.group" version="3.19.0.v20190907-0428"/>
	</location>
</locations>
	<includeBundles>
		<plugin id="org.eclipse.equinox.weaving.aspectj"/>
		<plugin id="org.eclipse.equinox.weaving.caching" version="1.1.200.v20180827-1235"/>
		<plugin id="org.eclipse.equinox.weaving.hook" version="1.2.500.v20190925-1452"/>
		<plugin id="org.eclipse.equinox.io"/>
		<plugin id="org.eclipse.equinox.io.source"/>
		<plugin id="org.eclipse.equinox.ip"/>
		<plugin id="org.eclipse.equinox.ip.source"/>
		<plugin id="org.eclipse.equinox.util"/>
		<plugin id="org.eclipse.equinox.util.source"/>
		<plugin id="org.eclipse.equinox.wireadmin"/>
		<plugin id="org.eclipse.equinox.wireadmin.source"/>
		<plugin id="javax.el" version="2.2.0.v201303151357"/>
		<plugin id="javax.el.source" version="2.2.0.v201303151357"/>
		<plugin id="javax.servlet" version="3.1.0.v201410161800"/>
		<plugin id="javax.servlet.jsp" version="2.2.0.v201112011158"/>
		<plugin id="javax.servlet.jsp.source" version="2.2.0.v201112011158"/>
		<plugin id="javax.servlet.source" version="3.1.0.v201410161800"/>
		<plugin id="org.apache.felix.gogo.command" version="1.0.2.v20170914-1324"/>
		<plugin id="org.apache.felix.gogo.command.source" version="1.0.2.v20170914-1324"/>
		<plugin id="org.apache.felix.gogo.runtime" version="1.1.0.v20180713-1646"/>
		<plugin id="org.apache.felix.gogo.runtime.source" version="1.1.0.v20180713-1646"/>
		<plugin id="org.apache.felix.gogo.shell" version="1.1.0.v20180713-1646"/>
		<plugin id="org.apache.felix.gogo.shell.source" version="1.1.0.v20180713-1646"/>
		<plugin id="org.apache.felix.scr" version="2.1.14.v20190123-1619"/>
		<plugin id="org.apache.felix.scr.source" version="2.1.14.v20190123-1619"/>
		<plugin id="org.apache.jasper.glassfish" version="2.2.2.v201501141630"/>
		<plugin id="org.apache.jasper.glassfish.source" version="2.2.2.v201501141630"/>
		<plugin id="org.apache.mina.core" version="2.0.7.v201401071602"/>
		<plugin id="org.apache.mina.core.source" version="2.0.7.v201401071602"/>
		<plugin id="org.apache.sshd.core" version="2.0.0.v20181102-1323"/>
		<plugin id="org.apache.sshd.core.source" version="2.0.0.v20181102-1323"/>
		<plugin id="org.eclipse.core.jobs" version="3.10.600.v20191122-2104"/>
		<plugin id="org.eclipse.core.jobs.source" version="3.10.600.v20191122-2104"/>
		<plugin id="org.eclipse.equinox.app" version="1.4.300.v20190815-1535"/>
		<plugin id="org.eclipse.equinox.app.source" version="1.4.300.v20190815-1535"/>
		<plugin id="org.eclipse.equinox.bidi" version="1.2.200.v20191008-0718"/>
		<plugin id="org.eclipse.equinox.bidi.source" version="1.2.200.v20191008-0718"/>
		<plugin id="org.eclipse.equinox.cm" version="1.4.200.v20191001-1333"/>
		<plugin id="org.eclipse.equinox.cm.source" version="1.4.200.v20191001-1333"/>
		<plugin id="org.eclipse.equinox.common" version="3.10.600.v20191004-1420"/>
		<plugin id="org.eclipse.equinox.common.source" version="3.10.600.v20191004-1420"/>
		<plugin id="org.eclipse.equinox.concurrent" version="1.1.400.v20190621-0852"/>
		<plugin id="org.eclipse.equinox.concurrent.source" version="1.1.400.v20190621-0852"/>
		<plugin id="org.eclipse.equinox.console" version="1.4.0.v20190819-1430"/>
		<plugin id="org.eclipse.equinox.console.jaas.fragment" version="1.0.200.v20180827-1235"/>
		<plugin id="org.eclipse.equinox.console.source" version="1.4.0.v20190819-1430"/>
		<plugin id="org.eclipse.equinox.console.ssh" version="1.2.400.v20191003-0536"/>
		<plugin id="org.eclipse.equinox.console.ssh.source" version="1.2.400.v20191003-0536"/>
		<plugin id="org.eclipse.equinox.coordinator" version="1.3.700.v20191002-1632"/>
		<plugin id="org.eclipse.equinox.coordinator.source" version="1.3.700.v20191002-1632"/>
		<plugin id="org.eclipse.equinox.device" version="1.0.800.v20181116-1551"/>
		<plugin id="org.eclipse.equinox.device.source" version="1.0.800.v20181116-1551"/>
		<plugin id="org.eclipse.equinox.ds" version="1.6.100.v20191001-1333"/>
		<plugin id="org.eclipse.equinox.ds.source" version="1.6.100.v20191001-1333"/>
		<plugin id="org.eclipse.equinox.event" version="1.5.300.v20191001-1333"/>
		<plugin id="org.eclipse.equinox.event.source" version="1.5.300.v20191001-1333"/>
		<plugin id="org.eclipse.equinox.frameworkadmin" version="2.1.400.v20191002-0702"/>
		<plugin id="org.eclipse.equinox.frameworkadmin.equinox" version="1.1.200.v20191015-1207"/>
		<plugin id="org.eclipse.equinox.frameworkadmin.equinox.source" version="1.1.200.v20191015-1207"/>
		<plugin id="org.eclipse.equinox.frameworkadmin.source" version="2.1.400.v20191002-0702"/>
		<plugin id="org.eclipse.equinox.http.jetty" version="3.7.300.v20191015-2006"/>
		<plugin id="org.eclipse.equinox.http.jetty.source" version="3.7.300.v20191015-2006"/>
		<plugin id="org.eclipse.equinox.http.registry" version="1.1.700.v20190214-1948"/>
		<plugin id="org.eclipse.equinox.http.registry.source" version="1.1.700.v20190214-1948"/>
		<plugin id="org.eclipse.equinox.http.servlet" version="1.6.300.v20191011-1612"/>
		<plugin id="org.eclipse.equinox.http.servlet.source" version="1.6.300.v20191011-1612"/>
		<plugin id="org.eclipse.equinox.http.servletbridge" version="1.1.100.v20180827-1235"/>
		<plugin id="org.eclipse.equinox.http.servletbridge.source" version="1.1.100.v20180827-1235"/>
		<plugin id="org.eclipse.equinox.jsp.jasper" version="1.1.300.v20190714-1850"/>
		<plugin id="org.eclipse.equinox.jsp.jasper.registry" version="1.1.300.v20190714-1850"/>
		<plugin id="org.eclipse.equinox.jsp.jasper.registry.source" version="1.1.300.v20190714-1850"/>
		<plugin id="org.eclipse.equinox.jsp.jasper.source" version="1.1.300.v20190714-1850"/>
		<plugin id="org.eclipse.equinox.launcher" version="1.5.600.v20191014-2022"/>
		<plugin id="org.eclipse.equinox.launcher.cocoa.macosx.x86_64" version="1.1.1100.v20190907-0426"/>
		<plugin id="org.eclipse.equinox.launcher.gtk.linux.ppc64le" version="1.1.1100.v20190907-0426"/>
		<plugin id="org.eclipse.equinox.launcher.gtk.linux.x86_64" version="1.1.1100.v20190907-0426"/>
		<plugin id="org.eclipse.equinox.launcher.source" version="1.5.600.v20191014-2022"/>
		<plugin id="org.eclipse.equinox.launcher.win32.win32.x86_64" version="1.1.1100.v20190907-0426"/>
		<plugin id="org.eclipse.equinox.log.stream" version="1.0.200.v20191017-2055"/>
		<plugin id="org.eclipse.equinox.log.stream.source" version="1.0.200.v20191017-2055"/>
		<plugin id="org.eclipse.equinox.metatype" version="1.5.200.v20191107-1453"/>
		<plugin id="org.eclipse.equinox.metatype.source" version="1.5.200.v20191107-1453"/>
		<plugin id="org.eclipse.equinox.p2.artifact.repository" version="1.3.300.v20191015-1504"/>
		<plugin id="org.eclipse.equinox.p2.artifact.repository.source" version="1.3.300.v20191015-1504"/>
		<plugin id="org.eclipse.equinox.p2.console" version="1.1.300.v20191014-1219"/>
		<plugin id="org.eclipse.equinox.p2.console.source" version="1.1.300.v20191014-1219"/>
		<plugin id="org.eclipse.equinox.p2.core" version="2.6.200.v20191014-1220"/>
		<plugin id="org.eclipse.equinox.p2.core.source" version="2.6.200.v20191014-1220"/>
		<plugin id="org.eclipse.equinox.p2.director" version="2.4.500.v20191014-1220"/>
		<plugin id="org.eclipse.equinox.p2.director.source" version="2.4.500.v20191014-1220"/>
		<plugin id="org.eclipse.equinox.p2.engine" version="2.6.500.v20191014-1645"/>
		<plugin id="org.eclipse.equinox.p2.engine.source" version="2.6.500.v20191014-1645"/>
		<plugin id="org.eclipse.equinox.p2.garbagecollector" version="1.1.300.v20191015-1207"/>
		<plugin id="org.eclipse.equinox.p2.garbagecollector.source" version="1.1.300.v20191015-1207"/>
		<plugin id="org.eclipse.equinox.p2.jarprocessor" version="1.1.500.v20191014-1732"/>
		<plugin id="org.eclipse.equinox.p2.jarprocessor.source" version="1.1.500.v20191014-1732"/>
		<plugin id="org.eclipse.equinox.p2.metadata" version="2.4.600.v20191002-0702"/>
		<plugin id="org.eclipse.equinox.p2.metadata.repository" version="1.3.300.v20191002-0702"/>
		<plugin id="org.eclipse.equinox.p2.metadata.repository.source" version="1.3.300.v20191002-0702"/>
		<plugin id="org.eclipse.equinox.p2.metadata.source" version="2.4.600.v20191002-0702"/>
		<plugin id="org.eclipse.equinox.p2.repository" version="2.4.600.v20191016-0510"/>
		<plugin id="org.eclipse.equinox.p2.repository.source" version="2.4.600.v20191016-0510"/>
		<plugin id="org.eclipse.equinox.p2.touchpoint.eclipse" version="2.2.500.v20191114-1206"/>
		<plugin id="org.eclipse.equinox.p2.touchpoint.eclipse.source" version="2.2.500.v20191114-1206"/>
		<plugin id="org.eclipse.equinox.p2.touchpoint.natives" version="1.3.400.v20191017-1917"/>
		<plugin id="org.eclipse.equinox.p2.touchpoint.natives.source" version="1.3.400.v20191017-1917"/>
		<plugin id="org.eclipse.equinox.p2.transport.ecf" version="1.2.300.v20191001-0955"/>
		<plugin id="org.eclipse.equinox.p2.transport.ecf.source" version="1.2.300.v20191001-0955"/>
		<plugin id="org.eclipse.equinox.preferences" version="3.7.600.v20191017-2055"/>
		<plugin id="org.eclipse.equinox.preferences.source" version="3.7.600.v20191017-2055"/>
		<plugin id="org.eclipse.equinox.region" version="1.4.600.v20191002-1632"/>
		<plugin id="org.eclipse.equinox.region.source" version="1.4.600.v20191002-1632"/>
		<plugin id="org.eclipse.equinox.registry" version="3.8.600.v20191017-2055"/>
		<plugin id="org.eclipse.equinox.registry.source" version="3.8.600.v20191017-2055"/>
		<plugin id="org.eclipse.equinox.security" version="1.3.400.v20191008-0645"/>
		<plugin id="org.eclipse.equinox.security.linux.x86_64" version="1.1.300.v20190830-1238"/>
		<plugin id="org.eclipse.equinox.security.linux.x86_64.source" version="1.1.300.v20190830-1238"/>
		<plugin id="org.eclipse.equinox.security.macosx" version="1.101.200.v20190903-0934"/>
		<plugin id="org.eclipse.equinox.security.macosx.source" version="1.101.200.v20190903-0934"/>
		<plugin id="org.eclipse.equinox.security.source" version="1.3.400.v20191008-0645"/>
		<plugin id="org.eclipse.equinox.security.ui" version="1.2.500.v20191003-0536"/>
		<plugin id="org.eclipse.equinox.security.ui.source" version="1.2.500.v20191003-0536"/>
		<plugin id="org.eclipse.equinox.security.win32.x86_64" version="1.1.200.v20190812-0919"/>
		<plugin id="org.eclipse.equinox.security.win32.x86_64.source" version="1.1.200.v20190812-0919"/>
		<plugin id="org.eclipse.equinox.servletbridge" version="1.5.200.v20191003-0536"/>
		<plugin id="org.eclipse.equinox.servletbridge.source" version="1.5.200.v20191003-0536"/>
		<plugin id="org.eclipse.equinox.simpleconfigurator" version="1.3.400.v20191015-1836"/>
		<plugin id="org.eclipse.equinox.simpleconfigurator.manipulator" version="2.1.400.v20191015-1836"/>
		<plugin id="org.eclipse.equinox.simpleconfigurator.manipulator.source" version="2.1.400.v20191015-1836"/>
		<plugin id="org.eclipse.equinox.simpleconfigurator.source" version="1.3.400.v20191015-1836"/>
		<plugin id="org.eclipse.equinox.supplement" version="1.9.100.v20190911-0531"/>
		<plugin id="org.eclipse.equinox.supplement.source" version="1.9.100.v20190911-0531"/>
		<plugin id="org.eclipse.equinox.transforms.hook" version="1.2.500.v20190714-1852"/>
		<plugin id="org.eclipse.equinox.transforms.hook.source" version="1.2.500.v20190714-1852"/>
		<plugin id="org.eclipse.equinox.transforms.xslt" version="1.1.0.v20190514-1046"/>
		<plugin id="org.eclipse.equinox.transforms.xslt.source" version="1.1.0.v20190514-1046"/>
		<plugin id="org.eclipse.equinox.useradmin" version="1.1.700.v20181116-1551"/>
		<plugin id="org.eclipse.equinox.useradmin.source" version="1.1.700.v20181116-1551"/>
		<plugin id="org.eclipse.equinox.weaving.caching" version="1.1.300.v20190516-1504"/>
		<plugin id="org.eclipse.equinox.weaving.caching.j9" version="1.1.200.v20180827-1235"/>
		<plugin id="org.eclipse.equinox.weaving.caching.j9.source" version="1.1.200.v20180827-1235"/>
		<plugin id="org.eclipse.equinox.weaving.caching.source" version="1.1.300.v20190516-1504"/>
		<plugin id="org.eclipse.equinox.weaving.hook" version="1.2.200.v20180827-1235"/>
		<plugin id="org.eclipse.equinox.weaving.hook.source" version="1.2.500.v20190925-1452"/>
		<plugin id="org.eclipse.jetty.continuation" version="9.4.24.v20191120"/>
		<plugin id="org.eclipse.jetty.continuation.source" version="9.4.24.v20191120"/>
		<plugin id="org.eclipse.jetty.http" version="9.4.24.v20191120"/>
		<plugin id="org.eclipse.jetty.http.source" version="9.4.24.v20191120"/>
		<plugin id="org.eclipse.jetty.io" version="9.4.24.v20191120"/>
		<plugin id="org.eclipse.jetty.io.source" version="9.4.24.v20191120"/>
		<plugin id="org.eclipse.jetty.security" version="9.4.24.v20191120"/>
		<plugin id="org.eclipse.jetty.security.source" version="9.4.24.v20191120"/>
		<plugin id="org.eclipse.jetty.server" version="9.4.24.v20191120"/>
		<plugin id="org.eclipse.jetty.server.source" version="9.4.24.v20191120"/>
		<plugin id="org.eclipse.jetty.servlet" version="9.4.24.v20191120"/>
		<plugin id="org.eclipse.jetty.servlet.source" version="9.4.24.v20191120"/>
		<plugin id="org.eclipse.jetty.util" version="9.4.24.v20191120"/>
		<plugin id="org.eclipse.jetty.util.source" version="9.4.24.v20191120"/>
		<plugin id="org.eclipse.osgi" version="3.15.100.v20191114-1701"/>
		<plugin id="org.eclipse.osgi.compatibility.state" version="1.1.600.v20190814-1451"/>
		<plugin id="org.eclipse.osgi.compatibility.state.source" version="1.1.600.v20190814-1451"/>
		<plugin id="org.eclipse.osgi.services" version="3.8.0.v20190206-2147"/>
		<plugin id="org.eclipse.osgi.services.source" version="3.8.0.v20190206-2147"/>
		<plugin id="org.eclipse.osgi.source" version="3.15.100.v20191114-1701"/>
		<plugin id="org.eclipse.osgi.util" version="3.5.300.v20190708-1141"/>
		<plugin id="org.eclipse.osgi.util.source" version="3.5.300.v20190708-1141"/>
		<plugin id="org.sat4j.core" version="2.3.5.v201308161310"/>
		<plugin id="org.sat4j.pb" version="2.3.5.v201404071733"/>
		<plugin id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
		<plugin id="org.slf4j.api.source" version="1.7.2.v20121108-1250"/>
	</includeBundles>
</target>