<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Eclipse-ECF" sequenceNumber="7">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.osgi.services.feature.feature.group" version="2.0.1.v20160823-2221"/>
<unit id="org.eclipse.ecf.discovery.slp.source.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.13.2.v20160823-2221"/>
<unit id="org.eclipse.ecf.server.generic.source.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.remoteservice.rosgi.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.provider.generic.remoteservice.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.provider.generic.datashare.source.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.source.feature.feature.group" version="3.13.2.v20160823-2221"/>
<unit id="org.eclipse.ecf.remoteservice.sdk.source.feature.feature.group" version="3.13.2.v20160823-2221"/>
<unit id="org.eclipse.ecf.remoteservice.servlet.source.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.sharedobject.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.remoteservice.examples.source.feature.feature.group" version="1.3.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.remoteservice.examples.feature.feature.group" version="1.3.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.provider.generic.datashare.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.provider.generic.source.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.presence.source.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.discovery.source.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.docshare.source.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.core.featurepatch.source.feature.group" version="3.13.2.v20160823-2221"/>
<unit id="org.eclipse.ecf.discovery.zookeeper.source.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.osgi.services.source.feature.feature.group" version="2.0.1.v20160823-2221"/>
<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.3.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.provider.generic.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="1.1.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.console.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.eventadmin.source.feature.feature.group" version="2.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.remoteservice.rosgi.source.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.remoteservice.feature.feature.group" version="2.3.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.eventadmin.examples.source.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.eventadmin.examples.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.remoteservice.rest.synd.source.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.remoteservice.source.feature.feature.group" version="2.3.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.core.source.feature.group" version="3.13.2.v20160823-2221"/>
<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.discovery.jmdns.source.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.remoteservice.soap.source.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.core.source.feature.feature.group" version="1.3.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.sharedobject.source.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.remoteservice.rest.source.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.core.feature.group" version="3.13.2.v20160823-2221"/>
<unit id="org.eclipse.ecf.discovery.jmdns.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.console.source.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.discovery.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.eventadmin.feature.feature.group" version="2.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.source.feature.feature.group" version="1.1.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.xmpp.source.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.remoteservice.rest.synd.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.datashare.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.remoteservice.rest.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.core.featurepatch.feature.group" version="3.13.2.v20160823-2221"/>
<unit id="org.eclipse.ecf.remoteservice.servlet.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.provider.generic.remoteservice.source.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="3.13.2.v20160823-2221"/>
<unit id="org.eclipse.ecf.remoteservice.soap.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.remoteservice.sdk.examples.source.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.xmpp.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.remoteservice.sdk.examples.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.server.generic.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.discovery.dnssd.source.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.filetransfer.ssl.source.feature.feature.group" version="1.1.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.presence.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.discovery.slp.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.docshare.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.discovery.zookeeper.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.remoteservice.sdk.feature.feature.group" version="3.13.2.v20160823-2221"/>
<unit id="org.eclipse.ecf.datashare.source.feature.feature.group" version="1.0.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.filetransfer.source.feature.feature.group" version="3.13.2.v20160823-2221"/>
<unit id="org.eclipse.ecf.core.ssl.source.feature.feature.group" version="1.1.0.v20160823-2221"/>
<unit id="org.eclipse.ecf.discovery.dnssd.feature.feature.group" version="1.0.0.v20160823-2221"/>
<repository location="http://download.eclipse.org/rt/ecf/3.13.2/site.p2"/>
</location>
</locations>
</target>
