<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Eclipse-Platform" sequenceNumber="36">
<locations>
	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/eclipse/updates/4.23"/>
		<unit id="org.eclipse.platform.ide" version="4.23.0.I20220308-0310"/>
	</location>
</locations>
<environment>
<os>solaris</os>
<ws>gtk</ws>
<arch>sparc</arch>
</environment>
</target>