<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Eclipse-JDT" sequenceNumber="23">
<locations>
	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/eclipse/updates/4.23"/>
		<unit id="org.eclipse.jdt.feature.group" version="3.18.1100.v20220308-0310"/>
		<unit id="org.eclipse.jdt.source.feature.group" version="3.18.1100.v20220308-0310"/>
	</location>
</locations>
<environment>
<os>solaris</os>
<ws>gtk</ws>
<arch>sparc</arch>
</environment>
</target>