<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Eclipse-EMF" sequenceNumber="6">
<locations>
	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/releases/2022-06"/>
		<unit id="org.eclipse.emf.sdk.feature.group" version="2.30.0.v20220516-1117"/>
		<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.12.0.201805140824"/>
		<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.12.2.202008210805"/>
		<unit id="org.eclipse.xsd.sdk.feature.group" version="2.30.0.v20220317-1532"/>
	</location>
</locations>
</target>