<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Eclipse-Equinox" sequenceNumber="25">
<locations>
	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/eclipse/updates/4.22"/>
		<unit id="org.eclipse.equinox.sdk.feature.group" version="3.23.200.v20211117-0650"/>
	</location>
	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="https://aspectj.dev/eclipse/ajdt/421"/>
		<unit id="org.eclipse.contribution.weaving.feature.group" version="2.2.4.202111260940"/>
	</location>
</locations>
</target>