<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <setAttribute key="name.schedenig.eclipse.grepconsole.DisabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.EnabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.FilterDisabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.FilterEnabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.StatisticsDisabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.StatisticsEnabledIds"/>
    <stringAttribute key="org.eclipse.debug.core.ATTR_PROTOTYPE" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;launchConfiguration local=&quot;false&quot; path=&quot;/PDE-Targets &amp;amp; Launcher/launch/prototype/Start HttpGateway Prototype.prototype&quot;/&gt;&#13;&#10;"/>
    <booleanAttribute key="org.eclipse.debug.core.IS_PROTOTYPE" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/com.profidata.httpgateway.shell/src/main/java/com/profidata/httpgateway/shell/HttpGatewayShell.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="EAMIS_APP_JAVA_JDBC_URL" value="jdbc:oracle:thin:X_MOBIDEV_553_XC/clzlabo1@XNT041"/>
        <mapEntry key="EAMIS_BASICDATA_PORT" value="7821"/>
        <mapEntry key="EAMIS_CLUSTER_INSTANCE_NODE" value="localhost"/>
        <mapEntry key="EAMIS_CLUSTER_ROOT" value="D:/Projekte/xc2018-09/xentisserver/xentis"/>
        <mapEntry key="EAMIS_HTTPGATEWAY_PORT" value="7820"/>
        <mapEntry key="EAMIS_INSTANCE_HOME" value="D:/Projekte/xc2018-09/xentisserver/xentis"/>
        <mapEntry key="EAMIS_JMSCONSOLE_ADMIN_PORT" value="7822"/>
        <mapEntry key="EAMIS_JMSCONSOLE_PORT" value="7823"/>
        <mapEntry key="EAMIS_JMS_URL" value="tcp://localhost:7805?wireFormat.maxInactivityDuration=0"/>
        <mapEntry key="EAMIS_PACKAGES" value="D:/Projekte/xc2018-09/xentisserver/xentis/packages"/>
        <mapEntry key="EAMIS_RISKSTORE_API_PORT" value="7824"/>
        <mapEntry key="EAMIS_RISKSTORE_DB_PASSWORD" value="admin"/>
        <mapEntry key="EAMIS_RISKSTORE_DB_PORT" value="7825"/>
        <mapEntry key="EAMIS_RISKSTORE_DB_ROOT_PASSWORD" value="root"/>
        <mapEntry key="EAMIS_RISKSTORE_STUDIO_PORT" value="7826"/>
        <mapEntry key="EAMIS_XCAS_SERVICES_PORT" value="7816"/>
        <mapEntry key="EAMIS_XENTIS_API_PORT" value="7806"/>
        <mapEntry key="EAMIS_XSB_REGISTRY_PORT" value="7807"/>
        <mapEntry key="EAMIS_XSB_SERVICE_PORT" value="7814"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.buildship.core.classpathprovider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.profidata.httpgateway.shell.HttpGatewayShell"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="//pdvmdev15/urr/urr/xentis553j11branch_run/xentis/packages/httpgateway/etc/httpgateway.json"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.profidata.httpgateway.shell"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="--add-opens java.base/sun.net.dns=ALL-UNNAMED&#13;&#10;--add-opens java.base/java.util=ALL-UNNAMED&#13;&#10;--illegal-access=warn"/>
</launchConfiguration>
