<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <setAttribute key="name.schedenig.eclipse.grepconsole.DisabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.EnabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.FilterDisabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.FilterEnabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.StatisticsDisabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.StatisticsEnabledIds"/>
    <stringAttribute key="org.eclipse.debug.core.ATTR_PROTOTYPE" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;launchConfiguration local=&quot;false&quot; path=&quot;/xentisjava/infrastructure/eclipse/prototype/Start RiskStore Prototype.prototype&quot;/&gt;&#13;&#10;"/>
    <booleanAttribute key="org.eclipse.debug.core.IS_PROTOTYPE" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/com.profidata.risk.store.app/src/main/java/com/profidata/risk/store/app/RiskStoreStarter.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="SERVER_PORT" value="7818"/>
        <mapEntry key="SPRING_CLOUD_CONFIG_URI" value="http://pdvmdev15.profidatagroup.com:10010"/>
        <mapEntry key="SPRING_PROFILES_ACTIVE" value="config,secret,urr,ide"/>
        <mapEntry key="XENTIS_APPLICATION_DATABASE_ORIENT-DB-DIRECTORY" value="${workspace_loc}\xentisjava\xrs\com.profidata.risk.store.app\target\orientdb-data"/>
        <mapEntry key="XENTIS_APPLICATION_DATABASE_ORIENT-DB-HOME" value="${workspace_loc}\xentisjava\xrs\com.profidata.risk.store.app\target\orientdb"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.profidata.risk.store.app.RiskStoreStarter"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="com.profidata.risk.store.shell"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.profidata.risk.store.app"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dfile.encoding=UTF-8&#13;&#10;&#13;&#10;--add-opens java.base/java.lang=ALL-UNNAMED&#13;&#10;--add-opens=java.base/java.util=ALL-UNNAMED&#13;&#10;--add-opens java.base/jdk.internal.misc=ALL-UNNAMED&#13;&#10;--add-opens java.base/sun.net.dns=ALL-UNNAMED"/>
</launchConfiguration>
