<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<setAttribute key="name.schedenig.eclipse.grepconsole.DisabledIds"/>
<setAttribute key="name.schedenig.eclipse.grepconsole.EnabledIds"/>
<setAttribute key="name.schedenig.eclipse.grepconsole.FilterDisabledIds"/>
<setAttribute key="name.schedenig.eclipse.grepconsole.FilterEnabledIds"/>
<setAttribute key="name.schedenig.eclipse.grepconsole.StatisticsDisabledIds"/>
<setAttribute key="name.schedenig.eclipse.grepconsole.StatisticsEnabledIds"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/com.profidata.httpgateway.shell/src/main/java/com/profidata/httpgateway/shell/HttpGatewayShell.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="EAMIS_BASICDATA_PORT" value="7321"/>
<mapEntry key="EAMIS_CLUSTER_INSTANCE_NODE" value="pdvmdev15"/>
<mapEntry key="EAMIS_CLUSTER_ROOT" value="//pdvmdev15/urr/urr/xentis552branch_run/xentis"/>
<mapEntry key="EAMIS_HTTPGATEWAY_PORT" value="7320"/>
<mapEntry key="EAMIS_INSTANCE_HOME" value="//pdvmdev15/urr/urr/xentis552branch_run/xentis/instances/xentis"/>
<mapEntry key="EAMIS_JMSCONSOLE_ADMIN_PORT" value="7322"/>
<mapEntry key="EAMIS_JMSCONSOLE_PORT" value="7323"/>
<mapEntry key="EAMIS_JMS_URL" value="failover://(tcp://pdvmdev15:7305?wireFormat.maxInactivityDuration=0)"/>
<mapEntry key="EAMIS_PACKAGES" value="//pdvmdev15/urr/urr/xentis552branch_run/xentis/packages"/>
<mapEntry key="EAMIS_RISKSTORE_PORT" value="7324"/>
<mapEntry key="EAMIS_XENTIS_API_PORT" value="7306"/>
<mapEntry key="EAMIS_XSB_REGISTRY_PORT" value="7307"/>
<mapEntry key="EAMIS_XSB_SERVICE_PORT" value="7314"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.buildship.core.classpathprovider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.profidata.httpgateway.shell.HttpGatewayShell"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="//pdvmdev15/urr/urr/xentis552branch_run/xentis/packages/httpgateway/etc/httpgateway.json&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.profidata.httpgateway.shell"/>
</launchConfiguration>
