<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <setAttribute key="name.schedenig.eclipse.grepconsole.DisabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.EnabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.FilterDisabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.FilterEnabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.NotificationsDisabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.NotificationsEnabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.StatisticsDisabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.StatisticsEnabledIds"/>
    <stringAttribute key="org.eclipse.buildship.core.originalclasspathprovider" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.debug.core.ATTR_PROTOTYPE" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;launchConfiguration local=&quot;false&quot; path=&quot;/PDE-Targets &amp;amp; Launcher/launch/prototype/Start XTL Prototype.prototype&quot;/&gt;&#13;&#10;"/>
    <booleanAttribute key="org.eclipse.debug.core.IS_PROTOTYPE" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/com.profidata.xentis.etl/src/main/java/com/profidata/etl/ETLStarter.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="EAMIS_APP_JAVA_JDBC_URL" value="jdbc:oracle:thin:X_MOBIDEV_553_XC/clzlabo1@XNT121"/>
        <mapEntry key="EAMIS_APP_PRGINFO" value="Eclipse@localhost"/>
        <mapEntry key="EAMIS_APP_VAR" value="//pdvmdev15/urr/urr/xentis553j11branch_run/xentis/var"/>
        <mapEntry key="EAMIS_APP_VDB_JDBC_URL" value="jdbc:oracle:thin:VDB_HI_P_ENTW/clzlabo1@XNT041"/>
        <mapEntry key="EAMIS_JMS_URL" value="tcp://pdvmdev15:7805?wireFormat.maxInactivityDuration=0"/>
        <mapEntry key="EAMIS_PACKAGES" value="//pdvmdev15/urr/urr/xentis553j11branch_run/xentis/packages"/>
        <mapEntry key="EAMIS_VDB_ALIAS" value="XNT041"/>
        <mapEntry key="EAMIS_VDB_BB_FTP_MAX_POLL_TIME" value="60"/>
        <mapEntry key="EAMIS_VDB_BB_FTP_SUBDIR" value=""/>
        <mapEntry key="EAMIS_VDB_BB_FTP_TYPE" value="i"/>
        <mapEntry key="EAMIS_VDB_BB_KEY" value="nPwB7vV9"/>
        <mapEntry key="EAMIS_VDB_BB_PASSWD" value="DxbdjVdl"/>
        <mapEntry key="EAMIS_VDB_BB_PORT" value="21"/>
        <mapEntry key="EAMIS_VDB_BB_PROTOCOL" value="ftp"/>
        <mapEntry key="EAMIS_VDB_BB_SERVER" value="bfmrr.bloomberg.com"/>
        <mapEntry key="EAMIS_VDB_BB_USER" value="dl848"/>
        <mapEntry key="EAMIS_VDB_PASSWD" value="clzlabo1"/>
        <mapEntry key="EAMIS_VDB_PORT" value="1521"/>
        <mapEntry key="EAMIS_VDB_SCHEMA" value="VDB_HI_P_ENTW"/>
        <mapEntry key="EAMIS_VDB_SERVER" value="pdxendb04.profidatagroup.com"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8/&quot; javaProject=&quot;com.profidata.xentis.etl&quot; path=&quot;5&quot; type=&quot;4&quot;/&gt;&#13;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry id=&quot;org.eclipse.jdt.launching.classpathentry.defaultClasspath&quot;&gt;&#13;&#10;    &lt;memento exportedEntriesOnly=&quot;false&quot; project=&quot;com.profidata.xentis.etl&quot;/&gt;&#13;&#10;&lt;/runtimeClasspathEntry&gt;&#13;&#10;"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.buildship.core.classpathprovider"/>
    <booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.profidata.etl.ETLStarter"/>
    <listAttribute key="org.eclipse.jdt.launching.MODULEPATH"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.profidata.xentis.etl"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Doracle.net.tns_admin=${env_var:TNS_ADMIN}&#13;&#10;&#13;&#10;-DXENTIS_MONSTAR_LOGSTASH_HOST=&#13;&#10;-DXENTIS_MONSTAR_LOGSTASH_PORT=9999&#13;&#10;&#13;&#10;--add-opens java.base/java.lang=ALL-UNNAMED&#13;&#10;--illegal-access=warn"/>
</launchConfiguration>
