<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="XC private" sequenceNumber="4">
<locations>
<location path="D:\JavaTargets\xc-target.platform-e46-2.3.x" type="Directory"/>
<location path="D:\JavaTargets\spring.ide" type="Directory"/>
</locations>
</target>
