<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="XC Targetplatform Spring 4.3" sequenceNumber="62">
<locations>
<location path="D:\JavaTargets\xc-target.platform-e45-2.2.x-SPRING43" type="Directory"/>
</locations>
</target>
